<h2>Search Artist</h2>
<%= form_tag artists_path , method: 'GET' do %>
<div>
	<input type="text" name="artist_name" placeholder="Insert name of artist">
</div>
<button type="submit">Search</button>
<% end %>


